@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Página Principal";
    
}

<h1>Página principal</h1>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec interdum nisi.
	Ut dui ligula, porttitor sit amet feugiat nec, sodales eget magna.
	Donec id eros et felis vulputate porttitor euismod vel est.
	Vivamus posuere interdum quam a faucibus. Mauris vestibulum cursus dictum.
	Duis blandit eleifend metus, in suscipit arcu faucibus at.
	Curabitur ipsum enim, molestie sit amet faucibus ac, vehicula ac libero.
	Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
	himenaeos.
</p>
