@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Pedido completado";
}

<h1>Pedido completado</h1>
<p>Muchas gracias por tu pedido. Se ha enviado un email de confirmacion a tu correo.</p>
<br />
<p>Tu pedido se atendera en breve y deberia llegar en 3-5 dias laborales</p>